div#panel-menus
    each menu in menus 
        button(class='menus '+menu.type value=menu.val title=menu.title)=menu.text
            if !menu.text
                - var bPath = 'M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z';
                +createSvg(bPath, '0 0 512 512', '18', '1', 'currentColor')

each menu in menus
    div.menu-content(id=menu.val)
        case menu.val
            when "_message"
                textarea#message(class="copyable-text selectable-text" rows="9" placeholder='Message Here!')
                div#msgPreview(class="text-preview wayfu-msg")
                - break
            when "_image"
                div#_img-container
                    input#useImage(type='checkbox' class='checks trig premium' name='useImage' value='imgFile' data-capt-id='_caption' title='Attach Image?')
                    input#imgFile(type='file' accept='image/*'  name='images' style='width:200px;cursor:pointer;' aria-label='Select Image' disabled)
                    div#_deleteImg(data-icon='close' class='img icon icon-del' data-value='imgFile' title='Delete Image')
                        - var ePath = 'M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z';
                        +createSvg(ePath, '0 0 1792 1792', '20', '.4')
                div(class='content _img-preview')
                    img#_img-output
                textarea#_caption(rows="1" class='copyable-text selectable-text' placeholder='Caption Here!' disabled)
                div#captPreview(class="text-preview wayfu-capt")
                - break
            when "_settings"
                div.panel-options
                    each set in settings
                        div.row(class=set.oriflame ? 'oriflame':'')
                            div._label
                                label(for=set.for)=set.name
                                if set.isBeta 
                                    span(class="badge beta") Beta
                            div._input
                                if !set.type
                                    output(id=set.for)
                                else 
                                    case set.type
                                        when 'select'
                                            label.select(for=set.for)
                                                select(id=set.for)
                                                    each opt in set.opt
                                                        option(value=opt.key)=opt.val
                                                svg(viewBox="0 0 10 6" xmlns='http://www.w3.org/2000/svg')
                                                    polyline(points="1 1 5 5 9 1")
                                            - break
                                        when 'range'
                                            input._slider(type='range' id=set.for name=set.for min='100' max=set.opt.max step=set.opt.step value='100')
                                            output(for=set.for)
                                            - break
